@import "tailwindcss";

@theme {
  --color-custompurple-100: #070910;
  --color-custompurple-200: #2b2f3d;
  --color-customblue-100: #0a101b;
  --color-customgreen-100: #00f5c0;
  --color-customgray-100: #1a3c5e;
  --color-customgray-200: #0a1a2f;
  --color-customgreen-200: #34c759;
  --color-customgreen-300: #2ca94c;
  --color-customgreen-400: #23903f;
  --color-customgreen-500: #1f7f37;
  --color-customgray-300: #0e1620;
  --color-customblue-200: #121824;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}

.audiowide {
  font-family: 'Audiowide', sans-serif;
}

@media (min-width: 370px) and (max-width: 639px) {
  .center-auth-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 640px) and (max-width: 642px) {
  .custom-box {
    height: 220px;
  }
}

@media (min-width: 466px) and (max-width: 639px) {
  .custom-box-2 {
    height: 120px;
  }
}

@media (min-width: 465px) and (max-width: 484px) {
  .custom-box-3 {
    height: 170px;
  }
}

@media (min-width: 642px) {
  .custom-box-4 {
    height: 210px;
  }
}

@media (min-width: 485px) and (max-width: 527px) {
  .custom-box-5 {
    height: 180px;
  }
}

@media (min-width: 640px) and (max-width: 695px) {
  .custom-height-1 {
    height: 380px;
  }
}

@media (min-width: 431px) and (max-width: 639px) {
  .custom-styles-1 {
    height: 365px;
  }
}

@media (min-width: 431px) and (max-width: 639px) {
  .custom-styles-2 {
    font-size: 14.5px;
  }
}

@media (min-width: 431px) and (max-width: 639px) {
  .custom-styles-3 {
    margin-top: 10px;
  }
}

@media (min-width: 431px) and (max-width: 639px) {
  .custom-styles-4 {
    font-size: 13px;
  }
}

@media (min-width: 467px) and (max-width: 516px) {
  .custom-styles-5 {
    width: 300px;
  }
}

@media (min-width: 517px) and (max-width: 579px) {
  .custom-styles-6 {
    width: 400px;
  }
}

@media (min-width: 517px) and (max-width: 579px) {
  .custom-styles-7 {
    width: 210px;
  }
}

@media (min-width: 517px) and (max-width: 579px) {
  .custom-styles-8 {
    width: 100%;
  }
}

@media (min-width: 517px) and (max-width: 579px) {
  .custom-styles-9 {
    font-size: 16px;
  }
}

@media (min-width: 580px) and (max-width: 639px) {
  .custom-styles-10 {
    width: 420px;
    height: 365px;
  }
}

@media (min-width: 580px) and (max-width: 639px) {
  .custom-styles-11 {
    width: 100%;
  }
}

@media (min-width: 580px) and (max-width: 639px) {
  .custom-styles-12 {
    height: 340px;
  }
}

@media (min-width: 580px) and (max-width: 639px) {
  .custom-styles-13 {
    font-size: 17px;
  }
}

@media (min-width: 657px) and (max-width: 695px) {
  .custom-styles-14 {
    height: 360px;
  }
}

@media (min-width: 500px) and (max-width: 550px) {
  .custom-padding-1 {
    padding: 20px;
  }
}

@media (min-width: 551px) and (max-width: 600px) {
  .custom-padding-2 {
    padding: 35px;
  }
}

@media (min-width: 601px) and (max-width: 639px) {
  .custom-padding-3 {
    padding: 50px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .no-display {
    display: none;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                  
}

.gradient-text {
  background: linear-gradient(to right, #00FFFF, #BF00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 400px) and (max-width: 470px) {
  .top-margin {
    top:170px;
    left:30px;
  }
}
